* {
    font-family: 'M PLUS 1', sans-serif;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}

dd + dt {
    margin-top: 1em;
}

dd {
    padding-left: 1em;
}

dd:before {
    content: '- ';
}

.card-img-wrapper {
    overflow: hidden;
}

a .card-img-top {
    transition: .3s ease-in-out;
}

a:hover .card-img-top {
    transform: scale(1.2, 1.2);
}
