<!doctype html>
<html data-bs-theme="dark" lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- ogp -->
    <meta content="https://lowse01.github.io/" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="LowSE01's Portfolio" property="og:title"/>
    <meta content="LowSE01のポートフォリオ" property="og:description"/>
    <meta content="LowSE01's Portfolio" property="og:site_name"/>
    <meta content="https://lowse01.github.io/image/og-image.jpg" property="og:image"/>
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@VizFantasista" name="twitter:site">
    <!-- favicon -->
    <link href=”./apple-touch-icon.png” rel=”apple-touch-icon” sizes=”180×180″>
    <link href=”./favicon.ico” rel=”icon” type=”image/x-icon”>
    <!-- bootstrap：カラーモードなどを試してみたかったので、Alpha版だが5.3.0を採用 -->
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha2/css/bootstrap.min.css"
          integrity="sha512-AJqlPMFVh36uw2D9RLPBfAVy0S7OFl7zCOnnZTs0WAtaRzv1lK7tMoGz7k586FulS00KTNsWNr/5IVhIzBlEow=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap"
          rel="stylesheet">
    <!-- font awesome -->
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <!-- css -->
    <link href="./css/app.css" rel="stylesheet">
    <title>LowSE01's Portfolio</title>
</head>

<body>
<div class="container">
    <header>
        <div class="my-5 text-center">
            <h1 class="display-1">Portfolio</h1>
        </div>
    </header>
    <section class="mb-3" id="profile">
        <h2 class="p-3 mb-4 border-bottom">
            <i class="fa-solid fa-user"></i>
            Profile
        </h2>
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="h-100 py-4 d-flex align-items-center justify-content-center">
                    <img :src="profile.image_url" class="rounded-circle w-50"/>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="h-100 py-4 d-flex align-items-center">
                    <dl>
                        <template :key="question" v-for="(answers, question) in profile.questions">
                            <dt v-html="question"></dt>
                            <dd v-for="answer in answers" v-html="answer"/>
                        </template>
                    </dl>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="h-100 py-4">
                    <p v-for="introduction in profile.introductions" v-html="introduction"/>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-3" id="works">
        <h2 class="p-3 mb-4 border-bottom">
            <i class="fa-solid fa-laptop"></i>
            Works
        </h2>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4" v-for="work in works">
                <div class="card h-100">
                    <div class="card-img-wrapper">
                        <a :href="work.link"
                           class="stretched-link"
                           target="_blank">
                            <img :src="work.image" class="card-img-top img-fluid">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title" v-html="work.title"></h3>
                        <div>
                            <span class="badge rounded-pill bg-secondary mx-1" v-for="tag in work.tags" v-html="tag"/>
                        </div>
                        <p class="card-text fs-6 text-muted" v-html="work.text">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-3" id="events">
        <h2 class="p-3 mb-4 border-bottom">
            <i class="fa-regular fa-calendar"></i>
            Events
        </h2>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4" v-for="event in events">
                <div class="card h-100">
                    <div class="card-img-wrapper">
                        <a :href="event.link"
                           class="stretched-link"
                           target="_blank">
                            <img :src="event.image" class="card-img-top img-fluid">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title" v-html="event.title"></h3>
                        <div>
                            <span class="badge rounded-pill bg-secondary mx-1" v-for="tag in event.tags"
                                  v-html="tag"/>
                        </div>
                        <p class="card-text fs-6 text-muted" v-html="event.text">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-3" id="skills">
        <h2 class="p-3 mb-4 border-bottom">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            Engineering Skills
        </h2>
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4" v-for="skill in skills">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <h3 class="h4 mb-3">{{ skill.type }}</h3>
                        </div>
                        <div class="card-text">
                            <table class="table table-dark table-striped">
                                <tbody>
                                <tr v-for="item in skill.items">
                                    <td>{{ item.name }}</td>
                                    <td class="fs-6 text-nowrap text-end">
                                        {{ "★".repeat(item.level) }}<!-- ソースコードの改行が隙間を生まないようにする
                                        --><span class="text-muted">{{"☆".repeat(5 - item.level) }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-3" id="contact">
        <h2 class="p-3 mb-4 border-bottom">
            <i class="fa-solid fa-comment"></i>
            Contact
        </h2>
        <div class="row">
            <div class="col">
                <a :href="contact.link" class="text-muted btn btn-link" target="_blank" v-for="contact in contacts">
                    <i :class="contact.icon_class"></i>
                </a>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid mt-5">
    <footer class="footer text-center p-2 border-top">
        <span class="text-muted">&copy; LowSE01</span>
    </footer>
</div>
<!-- scripts -->
<script crossorigin="anonymous"
        integrity="sha512-Pvg6adp44X74TYtqbnGE/mv3wka8G/UTq/nVf4XRpfufQ/AObqF+grFoc7cmFmQNdmaqq8lnMtfyib0etZTBVA=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha2/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
<script async
        crossorigin="anonymous"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
        src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/app.js" type="module"></script>
</body>

</html>
